@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");
/* font-family: "Odibee Sans", cursive; */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
#main-logo {
  height: 60px;
  object-fit: contain;
  user-select: none;
}

.btn {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn svg {
  pointer-events: none;
}
.btn-buy_now {
  padding: 4px 16px;
  background: greenyellow;
  border: none;
}
.btn-buy_now:active {
  background: rgb(155, 219, 59);
}
